body {
    margin: 0;
    padding: 0;
}

canvas {
    position: absolute;
	border: 1px solid #222222;
}

canvas.fullscreen {
    position: absolute;
    border: none;
    width: 100%;
    height: 100%;
}